{
	"name": "<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="__last__"><TMPL_VAR NAME="PATHNAME"></TMPL_IF></TMPL_LOOP>",
	"services": [
<TMPL_LOOP NAME="SERVICES">
{
	<TMPL_IF NAME="IMGDAYWIDTH">"img_day_width": <TMPL_VAR NAME="IMGDAYWIDTH">,</TMPL_IF> 
	<TMPL_IF NAME="IMGDAYHEIGHT">"img_day_height": <TMPL_VAR NAME="IMGDAYHEIGHT">,</TMPL_IF>
	"img_day": "<TMPL_VAR NAME="IMGDAY">",
	<TMPL_IF NAME="IMGWEEKWIDTH">"img_week_width": <TMPL_VAR NAME="IMGWEEKWIDTH">,</TMPL_IF> 
	<TMPL_IF NAME="IMGWEEKHEIGHT">"img_week_height": <TMPL_VAR NAME="IMGWEEKHEIGHT">,</TMPL_IF>
	"img_week": "<TMPL_VAR NAME="IMGWEEK">",
	<TMPL_IF NAME="IMGMONTHWIDTH">"img_month_width": <TMPL_VAR NAME="IMGMONTHWIDTH">,</TMPL_IF> 
	<TMPL_IF NAME="IMGMONTHHEIGHT">"img_month_height": <TMPL_VAR NAME="IMGMONTHHEIGHT">,</TMPL_IF>
	"img_month": "<TMPL_VAR NAME="IMGMONTH">",
	<TMPL_IF NAME="IMGYEARWIDTH">"img_year_width": <TMPL_VAR NAME="IMGYEARWIDTH">,</TMPL_IF> 
	<TMPL_IF NAME="IMGYEARHEIGHT">"img_year_height": <TMPL_VAR NAME="IMGYEARHEIGHT">,</TMPL_IF>
	"img_year": "<TMPL_VAR NAME="IMGYEAR">" ,



	<TMPL_IF NAME="IMGWEEKSUM">"img_week_sum": "<TMPL_VAR NAME="IMGWEEKSUM">",</TMPL_IF>
	<TMPL_IF NAME="IMGWEEKSUMWIDTH">"img_week_sum_width": "<TMPL_VAR NAME="IMGWEEKSUMWIDTH">",</TMPL_IF> 
	<TMPL_IF NAME="IMGWEEKSUMHEIGHT">"img_week_sum_height": "<TMPL_VAR NAME="IMGWEEKSUMHEIGHT">",</TMPL_IF>

	"graph_info": [
<TMPL_LOOP NAME="GRAPHINFO">"<TMPL_VAR ESCAPE=HTML NAME="info">"<TMPL_UNLESS NAME="__last__">,</TMPL_UNLESS></TMPL_LOOP>
],

	"legend": [
<TMPL_LOOP NAME="FIELDINFO">
{
	<TMPL_IF NAME="STATE_WARNING">"warn": "<TMPL_VAR ESCAPE=HTML NAME="WARN">",</TMPL_IF>
	<TMPL_IF NAME="STATE_CRITICAL">"crit": "<TMPL_VAR ESCAPE=HTML NAME="CRIT">",</TMPL_IF>
	<TMPL_IF NAME="INFO">"info": "<TMPL_VAR ESCAPE=HTML NAME="INFO">",</TMPL_IF>
	<TMPL_IF NAME="EXTINFO">"ext_info": "<TMPL_VAR ESCAPE=HTML NAME="EXTINFO">",</TMPL_IF>
	"field": "<TMPL_VAR ESCAPE=HTML NAME="LABEL">",
    	"internal_name": "<TMPL_VAR ESCAPE=HTML NAME="FIELD">",
	"type": "<TMPL_VAR ESCAPE=HTML NAME="TYPE">"
}<TMPL_UNLESS NAME="__last__">,</TMPL_UNLESS>
</TMPL_LOOP>
]<TMPL_UNLESS NAME="__last__">,</TMPL_UNLESS>
}
</TMPL_LOOP>
]}
