[
<TMPL_LOOP NAME="CATEGORIES">
{"name": "<TMPL_VAR NAME="NAME">",
"services": [
	<TMPL_LOOP NAME="SERVICES">
{
	"urlx": "<TMPL_VAR NAME="URLX">",
	"state": "<TMPL_IF NAME="STATE_WARNING">warning</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL">critical</TMPL_IF>",
	"name": "<TMPL_VAR NAME="NAME">",
	<TMPL_IF NAME="IMGDAYWIDTH">"img_day_width": <TMPL_VAR NAME="IMGDAYWIDTH">,</TMPL_IF>
	<TMPL_IF NAME="IMGDAYHEIGHT">"img_day_height": <TMPL_VAR NAME="IMGDAYHEIGHT">,</TMPL_IF>
	<TMPL_IF NAME="IMGWEEKWIDTH">"img_week_width": <TMPL_VAR NAME="IMGWEEKWIDTH">,</TMPL_IF>
	<TMPL_IF NAME="IMGWEEKHEIGHT">"img_week_height": <TMPL_VAR NAME="IMGWEEKHEIGHT">,</TMPL_IF>
	<TMPL_IF NAME="IMGMONTHWIDTH">"img_month_width": <TMPL_VAR NAME="IMGMONTHWIDTH">,</TMPL_IF>
	<TMPL_IF NAME="IMGMONTHHEIGHT">"img_month_height": <TMPL_VAR NAME="IMGMONTHHEIGHT">,</TMPL_IF>
	<TMPL_IF NAME="IMGYEARWIDTH">"img_year_width": <TMPL_VAR NAME="IMGYEARWIDTH">,</TMPL_IF>
	<TMPL_IF NAME="IMGYEARHEIGHT">"img_year_height": <TMPL_VAR NAME="IMGYEARHEIGHT">,</TMPL_IF>
	"img_day": "<TMPL_VAR NAME="IMGDAY">",
	"img_week": "<TMPL_VAR NAME="IMGWEEK">",
	"img_month": "<TMPL_VAR NAME="IMGMONTH">",
	"img_year": "<TMPL_VAR NAME="IMGYEAR">"
}<TMPL_UNLESS NAME="__last__">,</TMPL_UNLESS>
	</TMPL_LOOP>
]
}<TMPL_UNLESS NAME="__last__">,</TMPL_UNLESS>
</TMPL_LOOP>
]
